<% title "#{@competition.title} - " +  t("competition.delete.title") %>

<h1><%= t("competition.delete.title")  %></h1>

<p><%= t("competition.delete.confirm") %></p>

<%= link_to t("competition.delete.action"), @competition, data: { method: :delete }, class: "btn btn-danger" %>
<%= link_to "Cancel", :back, class: "btn" %>
