<h1><%= @user.name %></h1>
<p>Email: <%= @user.email if @user.email %></p>

<p>
  <b>Teams</b>
  <ul>
  <%= render @user.teams %>
  </ul>
</p>

<p>
  <b>Rides</b>
  <ul>
    <%= render @user.rides %>
  </ul>
</p>
