<div class="row-fluid">
  <h2>Get Started</h2>
  <ol>
    <li><%= link_to "Create a user account.", new_user_registration_path %></li>
    <li><%= link_to "Create or join a team.", teams_path %></li>
    <li>Team captain joins the competition.</li>
    <li><%= link_to "Log rides!",  new_ride_path %></li>
  </ol>
</div>