<% title "Competition Rules" %>
<div class="row">
  <div class="span12">
    <h1>Help</h1>
  </div>
</div>
<div class="row">
  <div class="span6 faq instructions">
    <h3>Frequently Asked Questions</h3>
    <div class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#faq0">
            How is percentage calculated?
          </a>
        </div>
        <div id="faq0" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>
              <strong>Calculation:</strong> 100 * commutes logged / possible commutes 
              <br />
              <em>possible commutes:</em> 10 * Weeks since beginning of competition
            </p>
            <p>
              <strong>Note:</strong> Because this calculation looks at the whole week (even the part that hasn't happened yet), percentages will always look low at the beginning of the week. As the week progresses and more rides are added, the percentage will go up.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#faq1">
            When is the competition?
          </a>
        </div>
        <div id="faq1" class="accordion-body collapse">
          <div class="accordion-inner">
            The competition begins <strong>June 1st</strong> and runs through <strong>August 28th</strong>.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#faq2">
            When can I join the competition?
          </a>
        </div>
        <div id="faq2" class="accordion-body collapse">
          <div class="accordion-inner">
            Participants can join in at any time throughout the summer.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#faq3">
            What if i use multiple modes of transportation to get to work?
          </a>
        </div>
        <div id="faq3" class="accordion-body collapse">
          <div class="accordion-inner">
            If you combine biking with the bus, for example, you will have to just enter biking as your mode and include only the distance you travel by bike.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#faq4">
            Do I have to register my entire business?
          </a>
        </div>
        <div id="faq4" class="accordion-body collapse">
          <div class="accordion-inner">
            You can register a division, section, branch, agency department, sector, etc. for this competition – it does not have to be the entire business (e.g. it could be a section or department of a government agency or a branch of a business – any way that makes sense for your place of work).
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#faq5">
            How can I stay up to date on the competition?
          </a>
        </div>
        <div id="faq5" class="accordion-body collapse">
          <div class="accordion-inner">
            Watch for competition updates on Bike Anchorage's <%= link_to "Facebook page", "https://www.facebook.com/BicycleAnchorage" %> and <%= link_to "website", "http://www.bikeanchorage.org" %>.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#faq6">
            What about the awards and the Awards Party?
          </a>
        </div>
        <div id="faq6" class="accordion-body collapse">
          <div class="accordion-inner">
            There will be an awards party and celebration in September (stay tuned for details). Last year we had great door prizes thanks to our <%= link_to "amazing sponsors", sponsors_path %>.
            <br />

            There will be some fantastic trophies for the winners that you can display in your office for the entire year.
            Award recognition will be given in the following categories:
            <ul>
              <li>Business winners for each category</li>
              <li>Most individual miles by bike and by foot (first, second and third place)</li>
              <li>Most trips made (first, second and third place)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#faq7">
            How do I become a sponsor or donate prizes?
          </a>
        </div>
        <div id="faq7" class="accordion-body collapse">
          <div class="accordion-inner">
            We welcome sponsors and prize donors. Let us know if you’d like to be a sponsor and contribute to this celebration of people power. Contact <%= mail_to "catherine@callbluesky.com" %> to find out how you can contribute.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span6 rules instructions">
    <h3>Competition Rules</h3>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="rule rule-1"></div>
        <a class="accordion-toggle" data-toggle="collapse" href="#rule1">
          The businesses in each class with the highest percentage of total employee trips to/from work made by bike, foot, and bus will win.
        </a>
      </div>
      <div id="rule1" class="accordion-body collapse">
        <div class="accordion-inner">
          The goal of the challenge is to get more people to go by bike, foot or transit. So we focus on the percentage of employees in your business that are going to work each day by bike, foot or transit. It is pretty simple to track. We will take the total number of employees in your business and multiply that by the number of days in the challenge (five work days per week) to determine the total # of commute trips made by your employees during the challenge. You and your co-workers track the number of trips to and from work by bike, foot or bus, as well as vacation days, and we will calculate your business’ overall percentage of commutes to and from work by bike, foot or bus. The businesses in each class with the highest percentage of commutes by bike, foot and bus win.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="rule rule-2"></div>
        <a class="accordion-toggle" data-toggle="collapse" href="#rule2">
          Competitors compete amongst businesses of similar size.
        </a>
      </div>
      <div id="rule2" class="accordion-body collapse">
        <div class="accordion-inner">
          We have divided the teams into five classes this year. The business classification is based on the total number of employees, not the number of employees in your office that may bike, walk or take the bus. This encourages team captains to get as many people in their business to bike, walk or take the bus (even if it is just one trip a week) as every trip helps increase the percentage of trips by bike, foot or bus.
          <p>
            The Business classes (based on total # of employees) are:
          </p>
          <ul>
            <li>X-Small: 1 &#8211; 4 employees</li>
            <li>Small: 5 &#8211; 15 employees</li>
            <li>Medium: 16 &#8211; 50 employees</li>
            <li>Large: 51 &#8211; 200 employees</li>
            <li>X-Large: More than 200 employees</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="rule rule-3"></div>
        <a class="accordion-toggle" data-toggle="collapse" href="#rule3">
          Businesses must be located within the Anchorage bowl.
        </a>
      </div>
      <div id="rule3" class="accordion-body collapse">
        <div class="accordion-inner">
          We know folks across the state want to participate but this is a challenge for Anchorage.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="rule rule-4"></div>
        <a class="accordion-toggle" data-toggle="collapse" href="#rule4">
          Competitors trips must be logged within a 2 weeks from the current date.
        </a>
      </div>
      <div id="rule4" class="accordion-body collapse">
        <div class="accordion-inner">
          You will only be able to log previous trips within a 2 week period from the current date, so keep your log updated! <br />
          The website will provide up-to-date results on how each team is doing in the challenge.
        </div>
      </div>
    </div>
  </div>
</div>
