<div class="alert">
  This site is a work in progress. Please forward any comments or bugs you find to the contact address in the footer.
</div>

<h1>Welcome to the BCA's Summer Bike Challenge!</h1>

<%= render "home/getting_started" %>
