<h1>Welcome to the BCA's Summer Bike Challenge!</h1>

<p>This site is a work in progress. Please forward any comments or bugs you find to the contact address in the footer.</p>

<%= render "home/getting_started" %>
