<% title "Competition Rules" %>

<div class="row">
  <div class="span12">
    <h1 class="welcome">Competition Rules</h1>
  </div>
</div>

<div class="row">
  <div class="span8 offset2 rules">
    <h3>Information</h3>

    <p>
      The competition begins <strong>June 2nd</strong> and runs through <strong>August 29th</strong>. Participants can join in at any time throughout the summer.
    </p>

    <p>
      You can register a division, section, branch, agency department, sector, etc. for this competition – it does not have to be the entire business (e.g. it could be a section or department of a government agency or a branch of a business – any way that makes sense for your place of work).
    </p>

    <h3>Rules</h3>

    <ol>
      <li>
        <p class="rule">
          The businesses in each class with the highest PERCENTAGE of total employee trips to/from work made by bike, foot and bus win.
        </p>

        <p>
          The goal of the challenge is to get more people to go by bike, foot or transit. So we focus on the percentage of employees in your business that are going to work each day by bike, foot or transit. It is pretty simple to track. We will take the total number of employees in your business and multiply that by the number of days in the challenge (five work days per week) to determine the total # of commute trips made by your employees during the challenge. You and your co-workers track the number of trips to and from work by bike, foot or bus, as well as vacation days, and we will calculate your business’ overall percentage of commutes to and from work by bike, foot or bus. The businesses in each class with the highest percentage of commutes by bike, foot and bus win.
        </p>
      </li>

      <li>
        <p class="rule">
          You compete among businesses of similar size.
        </p>

        <p>
          We have divided the teams into five classes this year. The business classification is based on the total number of employees, not the number of employees in your office that may bike, walk or take the bus. This encourages team captains to get as many people in their business to bike, walk or take the bus (even if it is just one trip a week) as every trip helps increase the percentage of trips by bike, foot or bus.
        </p>

        <p>
          The Business classes (based on total # of employees) are:
        </p>

        <ul>
          <li>X-Small: 1 &#8211; 4 employees</li>
          <li>Small: 5 &#8211; 15 employees</li>
          <li>Medium: 16 &#8211; 50 employees</li>
          <li>Large: 51 &#8211; 200 employees</li>
          <li>X-Large: More than 200 employees</li>
        </ul>
      </li>

      <li>
        <p class="rule">
          Track your trips
        </p>

        <p>
          You will only be able to log previous trips within a 2 week period from the current date, so keep your log updated!
        </p>

        <p>
          The website will provide up-to-date results on how each team is doing in the challenge.
        </p>
      </li>

      <li>
        <p class="rule">
          What if I Use Multiple Modes of Transportation to Get to Work?
        </p>

        <p>
          If you combine biking with the bus, for example, you will have to just enter biking as your mode and include only the distance you travel by bike.
        </p>
      </li>

      <li>
        <p class="rule">
          This competition is for businesses located in the Anchorage bowl.
        </p>

        <p>
          We know folks across the state want to participate but this is a challenge for Anchorage.
        </p>
      </li>

      <li>
        <p class="rule">
          Awards, the Awards Party, and Sponsors
        </p>

        <p>
          There will be an awards party and celebration (location and date TBD but it will be in September). Last year we had great door prizes thanks to our <%= link_to "amazing sponsors", sponsors_path %>.
        </p>

        <p>
          And of course there will be some fantastic trophies for the winners that you can display in your office for the entire year.
          Award recognition will be given in the following categories:

          <ul>
            <li>Business winners for each category</li>
            <li>Most individual miles by bike and by foot (first, second and third place)</li>
            <li>Most trips made (first, second and third place)</li>
          </ul>
        </p>

        <p>
          We welcome sponsors and prize donors. Let us know if you’d like to be a sponsor and contribute to this celebration of people power. Contact <%= mail_to "catherine@callbluesky.com" %> to find out how you can contribute.
        </p>
      </li>
    </ol>

    <h3>Stay up to date</h3>

    <p>
      Watch for competition updates on BCA's
      <%= link_to "Facebook page", "https://www.facebook.com/BicycleAnchorage" %>
      and
      <%= link_to "website", "http://bicycleanchorage.org" %>.
    </p>
  </div>
</div>
