.countdown{
  text-align: center;
  @include box-sizing(border-box);
  h1{
    font-size: 200px;
    line-height: 150px;
  }

  h2{
    font-size: 3em;
    text-shadow:
      1px 1px 0 $beach-b,
      -1px -1px 0 $beach-b,
      1px -1px 0 $beach-b,
      -1px 1px 0 $beach-b,
      1px 1px 0 $beach-b;
  }
}

@media (max-width: 979px){
  .countdown{
    display: none;
  }
}
