.input-append .add-on, .input-prepend .add-on {
  color: $black;
}

.datepicker {
  color: $gray;
  padding: 0;
}

form{
  .help-block{
    @extend .muted;
    font-style: italic;
  }
}

.form-actions{

}
