// COLOR SCHEME
// http://www.creativecolorschemes.com/resources/free-color-schemes/beach-color-scheme.shtml

$beach-a:            #CF372B;
$beach-b:            #FF8732;
$beach-c:            #F7DCAF;
$beach-d:            #846C59;
$beach-e:            #C5B7AB;
$beach-f:            #E7E3D5;
$beach-g:            #5C8D23;
$beach-h:            #A7DD98;
$beach-i:            #E2F3CA;
$beach-j:            #0097AE;
$beach-k:            #00D6E8;
$beach-l:            #85EAF5;
$beach-m:            #007999;
$beach-n:            #00C2F9;
$beach-o:            #35D8FE;

$linkColor:         $white;
$linkColorHover:    $beach-h;

$black:             #000;
$grayDark:          #333;
$gray:              #555;
$grayLight:         #999;
$grayLighter:       #eee;
$white:             #fff;

$blue:              #049CDB;
$blueDark:          #0064CD;
$green:             #46a546;
$red:               #9d261d;
$yellow:            #ffc40d;
$orange:            #f89406;
$pink:              #c3325f;
$purple:            #7a43b6;

$baseFontFamily:        'Roboto Slab', serif;