$border-color: grey;

.box {
  border: 2px solid $border-color !important;
  height: 100%;
}

.category {
  margin-top: 20px;
}

.container-fluid {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #f5f5f5;
  padding-top: 5px;
}

.header-btn {
  margin-top: 15px;
}

.ie-buffer {
  margin-bottom: 50px;
}

.line {
  width: 100% !important;
  border-top: 2px solid $border-color !important;
  margin-bottom: 20px;
}

.wide-input {
  width: 71.5%; 
  height: 60px
}

/* Large desktop */
@media (min-width: 980px) {
  body {
    padding-top: 60px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
