<% title "#{@ride.date} - " + t("ride.delete.title") %>

<h1><%= t("ride.delete.title") %></h1>

<p>
  Are you sure you wish to delete the ride logged on '<%= @ride.date %>'?
</p>

<%= link_to t("ride.delete.action"), @ride, data: { method: :delete }, class: "btn btn-danger" %>
<%= link_to "Cancel", :back, class: "btn" %>
