<% messages.each do |key, content| %>
  <%= content_tag :div, class: ["alert", "alert-#{key}"] do %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= content %>
  <% end %>
<% end %>
