<div class="container-fluid">
  <p class="credit">
    <i class="icon-warning-sign"></i>
    This site is a work in progress.
    Questions? Comments? Bugs??!?
    Please email <%= mail_to "bboone@resdat.com", "the developers", :encode => "javascript"%>.
  </p>
</div>
