<div id="ie-warning" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Your browser is out of date.</h3>
  </div>
  <div class="modal-body">
    <p>Your browser is not supported by this site. You may run into issues if you continue using this site.</p>
    <p>Consider updating your browser or using this site on your smart phone.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Ok</a>
  </div>
</div>